
body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #223343;
  /* max-width: 99%;} */}
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.searchbox-wrap{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   padding: 2% 10%; 
  background-color:#EEE;
  color:#53565A;
  
}
 .search-box{
  /* display:inline-block;  */
  /* position:relative; */
  outline: 0;
  width: 170%;
  font-size:20px ;
  font-weight: 300;
  padding: 0.6em 1.5em;
opacity: 0.6;
  border-radius: 8px;
  margin: 0 8%;
} 
.inputWithIcon i {
  position: absolute;
  left: 30px;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}



/* input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
} */
.inputWithIcon input[type="text"] {
  padding-left: 40px;
}
.search-box:focus{
  box-shadow: 0px 0px 3px #223343;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;

  padding: 12px; 
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p{
  margin-top: 32px;
  margin-bottom: 40px;

}
.card-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}
.ajout{
  margin-top: 12px;
 height: 400px;
 width: 300px;
 background-color: white;

 
}
.fa-plus{
  margin-top: 150px;
  margin-left: 120px;
  
}
.fa-plus:hover{
  cursor: pointer;
}
.inputWithIcon {
  position: relative;
}
/* .fa-search{
  position: absolute;
  top: 45px;
  left: 260px; 

} */
/* .fa-search:hover{
  cursor: pointer;
  
} */
.star{
  margin-left: 320px;
 margin-right: 10px;
 
  font-weight: bold;


}
.star-gold{
  color:gold;
}
.rat{
  text-align:end;
}
.addModal{
  background-color: lightcoral;
  height: 500px;
  width: 30%;
  margin: 22px 223px;

}
.formModal{
  display: flex;
  text-align: center;
  flex-direction: column;
 width: 60%; 
 margin-left: 90px;
 justify-content: center;
 
}
.formModal input{
  height: 25px;
  border-radius: 3px;
  margin-bottom: 12px;
  
}
.formModal label{
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}
.formModal button{
 
  cursor: pointer;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid black;
  background: none;
  margin: 123px 1em;
}
.formModal h2{
  
font-variant: small-caps;
}
